$color-black: #3D3F42;

$color-footerblk: #2d2e31;

$color-white: #FFFFFF;

$color-lightgray: #FBFBFB;

$color-darkgray: #e1e5ed;

$color-green: #4CC787;

$color-darkgreen: #40B253;

$color-blue: #2175AC;

$color-scndblue: #1D89CF;
