// Custom variables
@import "normalize";
@import "grid";
@import "variables";

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

* {
  font-smoothing: antialiased;
    transition: all 300ms ease-in-out;
}

::selection {
  background-color: $color-blue;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  background-color: $color-white;
}

// .backgraoundimage {
//   background-image: url(img/loginbackground.jpg);
//   background-size: cover;
//   height: 100%;
//   overflow: hidden;
// }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

//NAVIGATION
nav {
	padding-top: 24px;
  padding-bottom: 72px;
  background-color: $color-blue;
}

.logo {
	background-image: url(img/logo_w.svg);
	background-repeat: no-repeat;
	height: 24px;
	width: 143px;
  display: inline-block;
	cursor: pointer;
  color: rgba(255, 255, 255, 0);
}

.logo_b {
	background-image: url(img/logo_b.svg);
	background-repeat: no-repeat;
	height: 24px;
	width: 143px;
  display: inline-block;
	cursor: pointer;
  color: rgba(255, 255, 255, 0);
}

.nocolor {
  background-color: rgba(255,0,0,0.0);
}

ul {
  padding-top: 4px;
}

nav ul li {
  display: inline-block;
  margin-right: 36px;
}

nav ul li a {
	font-family: 'Lato', sans-serif;
	font-size: 16px;

	color: $color-darkgray;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
nav ul li:last-child {
	margin-right: 0;
}
nav ul li a:hover {
  color: $color-white;
}

nav ul li a.colorchng {
  color: $color-black;
}

.colorchngftr {
  color: $color-blue;
}
.colorchngftr:hover {
  color: darken($color-scndblue, 25%);
}

a.colorchng:hover {
  color: #000000;
}

.login {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  color: $color-white;
  text-transform: uppercase;
	text-decoration: none;
  margin-top: -26px;
  width: 80px;
  padding: 12px 10px;
  border-radius: 4px;
  background-color: $color-darkgreen;
  display: block;
  float: right !important;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.login:hover {
  background-color: $color-green;
}
//RESPONSIVE NAV
.topnav {
  overflow: hidden;
  display: none;

  margin-top: -50px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(71,71,71,0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(71,71,71,0.5);
  box-shadow: 0px 2px 4px 0px rgba(71,71,71,0.5);
}
a.icon {
  display: none;
}

.topnav a {
  display: block;
  color: $color-black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 250%;

}
.topnav a:first-child {padding-top: 25px;}
.topnav a:last-child {padding-bottom: 30px;}


//PRODUCT GRADIENT
.gradient {
  background: $color-blue; /* Old browsers */
  background: -moz-linear-gradient(top, $color-blue 70%, $color-white 70%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $color-blue 70%,$color-white 70%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $color-blue 70%,$color-white 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-blue', endColorstr='$color-white',GradientType=0 ); /* IE6-9 */
  margin-top: -2px;
}

//FOOTER
.footerbackground {
  background-color: $color-white;
  margin-top: 9.6em;
}
.footercolor {
  background-color: $color-white;
  padding-bottom: 24px;
}

.fnav {
  margin-bottom: 3.6em;
}
.alignflex {
  display: flex;
  justify-content: center;
}

.centerlogo {
  display: block;
  margin: 0 auto;
}
.border {
  border-top: 1px solid $color-black;
}
.footeritems {
  float: left;
  margin-right: 36px;
}
.footeritems:last-child {
	margin-right: 0;
}
.footeritemstop {
  display: flex;
  justify-content: center;
}

//TYPOGRAPHIE
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 3.6em;
  line-height: 140%;
  text-align: center;
  text-rendering: optimizeLegibility;
  padding-bottom: 18px;
  color: $color-white;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 3.6em;
  line-height: 140%;
  text-align: center;
  text-rendering: optimizeLegibility;
  padding-bottom: 18px;
  color: $color-black;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.1em;
  line-height: 140%;
  text-rendering: optimizeLegibility;
  padding-bottom: 18px;
  padding-top: 56px;
  color: $color-white;
  text-transform: uppercase;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 140%;
  text-rendering: optimizeLegibility;
  padding-bottom: 24px;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
}
h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 140%;
  text-rendering: optimizeLegibility;
  padding-bottom: 18px;
  color: $color-black;
  text-transform: uppercase;
}

h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2.4em;
  line-height: 140%;
  text-align: center;
  text-rendering: optimizeLegibility;
  padding-bottom: 18px;
  color: $color-black;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2.1em;
	line-height: 145%;
  text-rendering: optimizeLegibility;
  padding-bottom: 48px;
  color: $color-black;
}
strong {
  font-weight: 700;
}

.copyright {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
	font-size: 12px;
  line-height: 145%;
  text-align: center;
	color: $color-black;
  margin-top: 18px;
  padding-bottom: 21px;
  text-rendering: optimizeLegibility;
}

.cphone {
  display: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 145%;
  text-align: center;
  color: $color-black;
  margin-top: 18px;
  padding-bottom: 21px;
  text-rendering: optimizeLegibility;
}

.color_w {
  color: $color-lightgray;
}

.color_b {
  color: $color-black;
}

.center_txt {
  text-align: center;
}

.nopadding {
  padding-bottom: 0;
}

.value-txt {
  font-size: 18px;
  padding-bottom: 14px;
  text-align: center;
}
.featurestxt {
  color: $color-lightgray;
  font-size: 18px;
}

q {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  line-height: 145%;
  text-rendering: optimizeLegibility;
  padding-bottom: 48px;
  color: $color-black;
}

.qtxt {
  min-height: 130px;
  text-align: center;
}

.author {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 145%;
  text-rendering: optimizeLegibility;
  padding-bottom: 24px;
  color: $color-black;
  padding-top: 18px;
}


.demooptions {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 145%;
  text-rendering: optimizeLegibility;
  padding-bottom: 48px;
  padding-left: 21px;
  display: flex;
  justify-items: center;
  li{
    color: $color-blue;
    border: 1px solid $color-blue;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
  }
}

// BUTTONS AND LINKS
.flinks {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  color: $color-blue;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.flinks:hover {
  color: darken($color-scndblue, 25%);
}

.ilinks {
  color: $color-blue;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  transition: all 100ms ease-in-out;
}
.ilinks:hover {
  color: darken($color-scndblue, 25%);
}

.smaller {
  font-size: 18px;
}

.paginationslideractv {
  height: 16px;
  width: 16px;
  background-color: pink;
}
.paginationslider {
  height: 16px;
  width: 16px;
  background-color: pink;
}

.demobtn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #40B253;
  border: none;
  border-radius: 4px;
  border: 1px solid #40B253;
  padding: 12px 10px;
  margin: 8px 0 14px 0;
  width: 148px;
  text-rendering: optimizeLegibility;
  transition: all 300ms ease-in-out;
}

.demobtn:hover {
  background-color: $color-green;
  border:1px solid $color-green;
}

.centerbtn {
  display: block;
  margin: 0 auto;
}
.display-left, .display-right {
  color: $color-blue;
  font-family: 'Lato';
  font-size: 16px;
  border: none;
  background-color: white;
}
.display-left:hover, .display-right:hover  {
  color: darken($color-scndblue, 25%);
}
.qnav {
  display: flex;
  justify-content: center;
}

//ABOUT
.aboutme {
  margin-top: 124px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

//THANK YOU
.thankyou {
  height: 400px;
  p {
    text-align: center;
  }
  h3{
    margin-top: 55px;
    margin-bottom: 14px;
  }
}

//FORM
form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  max-width: 360px;
}


input, textarea {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  // background-color: $color-gray;
  border: 1px solid $color-black;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 4px 6px;
  margin-top: 8px;
  font-size: 18px;
  line-height: 140%;
  color: $color-black;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
}

textarea:focus, input:focus {
    outline: none;
    border-color: $color-darkgreen;
    // box-shadow: 0 0 0 #00E5EE;
}

.submit {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  color: $color-white;
  background-color: $color-darkgreen;
  border: none;
  border-radius: 4px;
  border: 1px solid $color-darkgreen;
  padding: 12px 10px;
  margin: 8px 0 14px 0;
  text-rendering: optimizeLegibility;
  transition: all 300ms ease-in-out;
}

.submit:hover {
  background-color: $color-green;
}

label {
  color: $color-black;
  font-size: 16px;
  margin-bottom: 12px;
}

//MODIFIERS
.grn {
  background-color: $color-darkgreen;
}
.main_image {
  margin-bottom: 82px;
}

.space {
  margin-top: 72px;
}

.spacetwo {
  margin-top: 72px;
}

.box {
  background-color: $color-scndblue;
  box-sizing: border-box;
  margin-bottom: 21px;
  padding: 12px 16px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(71,71,71,0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(71,71,71,0.5);
  box-shadow: 0px 2px 4px 0px rgba(71,71,71,0.5);
  min-height: 205px;
}

.features {
  background-color: $color-blue;
}
.features2 {
  background-color: $color-scndblue;
}

.displayphone {
  display: none;
}

.logos {
  display: flex;
  justify-content: space-around;
}
ul.logos {
  padding-left: 0;
}

.mySlides {
  display:none;
}

.animate-right {
  position:relative;animation:animateright 0.4s
}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

.animate-top
{position:relative;animation:animatetop 0.8s}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
//RESPONSIVE
@media screen and (max-width: 1217px) {
  .box {
    min-height: 256px;
  }
  ul {
    padding-left: 36px;
  }
  ul.alignflex {
    padding-left: 0;
  }
}

@media screen and (max-width: 1016px) {
  .box {
    min-height: 307px;
  }
  ul {
    padding-left: 72px;
  }
}

@media screen and (max-width: 780px) {
  .box {
    min-height: 333px;
  }
}
@media screen and (max-width: 705px) {
  .box {
    min-height: 359px;
  }
}


@media screen and (max-width: 667px) {
  .box {
    min-height: auto;
  }
  ul {
    display: none;
  }
  .demooptions {
    display: block;
  }
  .login {
    display: none;
  }
  .topnav {
    display: inline-block;
    background: $color-white;
  }
  a.icon {
    float: right;
    display: block;
    color: $color-white;
    text-decoration: none;
    margin-top: -6px;
  }
  a.iconcolor {
    color: $color-black;
  }
  .topnav a {display: none;}
  .topnav {
    float: left;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
  nav {
    padding-bottom: 48px;
  }
  .main_image {
    margin-bottom: 36px;
  }
  //SMALLER TYPE
  h1 {
    font-weight: 700;
    font-size: 2.4em;
    line-height: 140%;
    text-align: center;
    padding-bottom: 14px;
  }

  h2 {
    font-weight: 700;
    font-size: 2.4em;
    line-height: 140%;
    text-align: center;
    padding-bottom: 14px;
  }

  h3 {
    font-size: 1.8em;
    line-height: 140%;
    padding-bottom: 18px;
    text-transform: uppercase;
    text-align: center;
  }

  h4 {
    font-weight: 900;
    font-size: 1.6em;
    line-height: 140%;
    padding-bottom: 12px;
    text-transform: uppercase;
    text-align: center;
  }
  h5 {
    font-size: 1.4em;
    line-height: 140%;
    padding-bottom: 18px;
    text-transform: uppercase;
  }

  h6 {
    font-size: 2.4em;
    line-height: 140%;
    text-align: center;
    padding-bottom: 18px;
  }

  p {
    font-size: 1.6em;
  	line-height: 145%;
    padding-bottom: 24px;
  }

  .copyright {
  	font-size: 12px;
    line-height: 145%;
    text-align: center;
    margin-top: 18px;
    padding-bottom: 21px;
  }

  .cphone {
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 145%;
    text-align: center;
    color: $color-black;
    margin-top: 18px;
    padding-bottom: 21px;
    text-rendering: optimizeLegibility;
  }

  .value-txt {
    font-size: 16px;
    padding-bottom: 8px;
    text-align: center;
  }

  .featurestxt {
    color: $color-lightgray;
    font-size: 16px;
    text-align: center;
  }

  q {
    font-style: italic;
    text-align: center;
    font-size: 16px;
    line-height: 145%;
    padding-bottom: 48px;
  }

  .qtxt {
    min-height: 139px;
    text-align: center;
  }

  .author {
    font-size: 14px;
    line-height: 145%;
    padding-bottom: 24px;
    padding-top: 18px;
  }


  .demooptions {
    font-size: 14px;
    line-height: 145%;
    padding-bottom: 48px;
    padding-left: 21px;
    display: flex;
    justify-items: center;
    li{
      color: $color-blue;
      border: 1px solid $color-blue;
      border-radius: 4px;
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
      margin-left: 10px;
      display: inline-block;
    }
  }
   .hidephone {
     display: none;
   }
   .displayphone {
     display: block;
     margin: 0 auto;
   }

}
@media screen and (max-width: 555px) {
  .footercolor {
    padding-bottom: 4px;
  }
  h5 {
    padding-bottom: 10px;
  }
  .footeritemstop {
    display: block;
  }
  .footeritems {
    float: none;
    text-align: center;
    margin-right: 0;
    margin-top: 24px;
  }
}


@media screen and (max-width: 463px) {
  ul.alignflex {
    padding-left: 21px;
  }
  nav ul li {
    margin-right: 21px;
  }
}

@media screen and (max-width: 395px) {
  .copyright {
    display: none;
  }
  .cphone {
    display: block;
  }
  nav ul li {
    margin-right: 18px;
  }
}
