<section class="container">
		<div class="row">
			<div class="col col--8-of-12 col col--centered">
				<h2>This Is Our Story</h2>
				<div class="space"></div>
						<p>
							Big Companies rely on accurate Big Data. Our dedicated team of data scientists
							and mathematicians use the latest machine learning technologies and develop proprietary
							algorithms that allow us to become a global partner for telecoms market and competitive intelligence.
						</p>

						<p>Pricelens is an intuitive and extremely fast way of processing all necessary
						information in your business field that empowers you to:
					</p>
					<ul class="listings">
						<li>•	React quickly to all market changes and stay competitive</li>
						<li>•	Plan and coordinate efficiently with departments</li>
						<li>•	Save time on manual search and compilation of big data or small chunks of it</li>
						<li>•	Unlock creativity and true dedication to key priorities and talents</li>
					</ul>
					<p>Pricelens was developed as a telecom-specialized proprietary technology of Browswave S.A.:</p>

					<p class="nopadding">Browswave.com is a high-quality pricing intelligence and analytics
						solution to help electronics businesses achieve efficient sales and profitable growth.
						Browswave.com is the topmost business intelligence software for online pricing of electronics.
						It enables you to have a proactive approach and build your optimal product-price mix.
						</p>

						<ul class="logos">
							<li><img src="img/logos/about/lg.png" class="img-responsive" style="max-height:138px;" alt="lg"></li>
							<li><img src="img/logos/about/asus.png" class="img-responsive" style="max-height:138px;" alt="asus"></li>
							<li><img src="img/logos/about/mediamarkt.png" class="img-responsive" style="max-height:138px;" alt="mediamarkt"></li>
						</ul>
						<ul class="logos">
							<li><img src="img/logos/about/alcatel.png" class="img-responsive" style="max-height:138px;" alt="alcatel"></li>
							<li><img src="img/logos/about/acer.png" class="img-responsive" style="max-height:138px;" alt="acer"></li>
							<li><img src="img/logos/about/lenovo.png" class="img-responsive" style="max-height:138px;" alt="lenovo"></li>
						</ul>
<h6>
Pricelens is your advantage in the Telco Industry
</h6>
<ul class="listings">
	<li>•	In 2016 Pricelens emerged as a client’s need and development started.</li>
	<li>•	In 2017, the product was launched on the market and implemented in the first three telecoms</li>
	<li>•	From 2018 Pricelens has been upgraded and ready to take on new frontiers, ensuring smart productivity in the Telecom industry.</li>
</ul>


<p>Our growing team of high-class software engineers, project managers, and
business developers can support your company’s growth</p>


<h6>Here is how you can benefit:</h6>
<ul class="listings">
	<li>•	Our team can help identify if Pricelens is a fit for your Telecom.</li>
	<li>•	Get a custom quote based on your company’s needs.</li>
	<li>•	If you are migrating from another solution, we can support you get the process started.</li>
	<li>•	Curious about an integration? We can be of use through implementation.</li>
</ul>
<p class="center_txt bolder">
Get in touch at:<br><a href="mailto:sales@pricelens.com" target="_top" class="ilinks">sales@pricelens.com</a> or <a href="tel:+359899940717" class="ilinks">+359&nbsp;899&nbsp;940&nbsp;717</a>
</p>
			</div>
		</div>
</section>
