<section class="container-fluid features space">
	<div class="container">
		<div class="row space">
			<div class="col col--4-of-12">
				<h3>MOBILE AND DIGITAL SERVICES
				</h3>
				<p class="featurestxt">We collect dozens of tariff plan attributes and let
					you compare plans features with competitors in a highly detailed way
				</p>
				<!-- <h3>350° VIEW OF THE MARKET
				</h3>
				<p class="featurestxt">You can match similar tariff plans from other telecoms,
					 analyze bundle offers, and compare your competitors’ offers similar to yours
				</p> -->
			</div>
			<div class="col col--8-of-12">
				<img class="img-responsive main_image" src="img/features/plan_attributes_mega.png" alt="Product Shot"/>
			</div>
		</div>
		<div class="row space">
			<div class="col col--8-of-12">
				<img class="img-responsive main_image" src="img/features/compare_attributes_mega_zoomedin.png" alt="Product Shot"/>
			</div>
			<div class="col col--4-of-12">
				<h3>MONITOR DEVICES MARKET
				</h3>
				<p class="featurestxt">We track the essential set of device value drivers,
					match devices with similar characteristics and monitor your competitor’s portfolio
				</p>
				<!-- <h3>SKU HISTORY INCLUDING SIM-FREE
				</h3>
				<p class="featurestxt">Our tools provide SKU price history including devices
					in the SIM-free market
				</p> -->
			</div>
		</div>
		<div class="row space">
			<div class="col col--5-of-12 col--push-1-of-12">
				<h3>MARKET RESEARCH
				</h3>
				<p class="featurestxt">Keep track of competitor’s activities, from launching
					 new devices and tariff plans to vital bundle offers, promotions, and
					 add-ons with a full set of tracking, analytics, and research tools
				</p>
			</div>
			<div class="col col--5-of-12 col--push-1-of-12">
				<img class="img-responsive main_image" src="img/features/main_image.png" alt="Product Shot"/>
			</div>
		</div>
		<div class="row space">
			<div class="col col--5-of-12 col--push-1-of-12">
				<img class="img-responsive main_image" src="img/features/main_image.png" alt="Product Shot"/>
			</div>
			<div class="col col--5-of-12">
				<h3>DASHBOARD
				</h3>
				<p class="featurestxt">At-a-glance view of your KPIs that delivers all daily market dynamics
				</p>
				<h3>EXPORT DATA IN A BEAUTIFUL WAY
				</h3>
				<p class="featurestxt">Interactive and custom charts for your reports and
					presentations sent to your e-mail and several file formats exports
				</p>
			</div>
		</div>
		<div class="row space">
			<div class="col col--5-of-12 col--push-1-of-12">
				<h3>QUALITY DATA
				</h3>
				<p class="featurestxt">We ensure data quality by automated and manual data checks and tests
				</p>
				<h3>SPEED
				</h3>
				<p class="featurestxt">Our fast and reliable processes for collecting information are updated to your needs
				</p>
			</div>
			<div class="col col--5-of-12">
				<h3>RELIABILITY OF INFORMATION
				</h3>
				<p class="featurestxt">Data is consistent with more than 95% accuracy
				</p>
				<h3>CONTINUOUS IMPROVEMENT
				</h3>
				<p class="featurestxt">We provide exclusive customization that matches your
					company’s needs, including ongoing upgrades, improvements and premium customer support
				</p>
			</div>
		</div>
		<div class="row space">
			<div class="col col--2-of-12 col col--centered">
				    <a href="demo.html" class="demobtn">REQUEST A DEMO</a>
			</div>
		</div>
				<div class="row space"></div>
	</div>
</section>
