<section class="container-fluid space">
	<div class="container-fluid features">
		<div class="container">
		<div class="row spacetwo">
			<div class="col col--4-of-12 col--push-1-of-12">
				<h3>MOBILE AND DIGITAL SERVICES
				</h3>
				<img class="img-responsive displayphone" src="img/features/f_1a.png" alt="Product Shot"/>
				<p class="featurestxt">We collect dozens of tariff plan attributes and let
					you compare plans features with competitors in a highly detailed way
				</p>
			</div>
				<div class="col col--6-of-12 col--push-1-of-12">
					<img class="img-responsive hidephone" src="img/features/f_1.png" alt="Product Shot"/>
				</div>
			</div>
			</div>
		<div class="space">
		</div>
	</div>


		<div class="container-fluid features2">
			<div class="container">
			<div class="row spacetwo">
				<div class="col col--6-of-12 col--push-1-of-12">
					<img class="img-responsive hidephone" src="img/features/f_2.png" alt="Product Shot"/>
				</div>
				<div class="col col--4-of-12">
					<h3>360° VIEW OF THE MARKET
					</h3>
					<img class="img-responsive displayphone" src="img/features/f_2.png" alt="Product Shot"/>
					<p class="featurestxt">You can match similar tariff plans from other telecoms,
						 analyze bundle offers, and compare your competitors’ offers similar to yours
					</p>
				</div>
				</div>
				<div class="space"></div>
			</div>
		</div>

		<div class="container-fluid features">
			<div class="container">
				<div class="row spacetwo">
					<div class="col col--4-of-12 col--push-1-of-12">
						<h3>MONITOR DEVICES MARKET
						</h3>
						<img class="img-responsive displayphone" src="img/features/f_3a.png" alt="Product Shot"/>
						<p class="featurestxt">We track the essential set of device value drivers,
							match devices with similar characteristics and monitor your competitor’s portfolio
						</p>
					</div>
						<div class="col col--6-of-12 col--push-1-of-12">
							<img class="img-responsive hidephone" src="img/features/f_3.png" alt="Product Shot"/>
						</div>
					</div>
					<div class="space"></div>
</div>
</div>

<div class="container-fluid features2">
	<div class="container">
					<div class="row spacetwo">
						<div class="col col--5-of-12 col--push-1-of-12">
							<img class="img-responsive hidephone" src="img/features/f_4.png" alt="Product Shot"/>
						</div>
						<div class="col col--4-of-12 col--push-1-of-12">
							<h3>SKU HISTORY INCLUDING SIM-FREE
							</h3>
							<img class="img-responsive displayphone" src="img/features/f_4.png" alt="Product Shot"/>
							<p class="featurestxt">Our tools provide SKU price history including devices in<br> the SIM-free market
							</p>
						</div>
						</div>
						<div class="space"></div>
	</div>
	</div>

	<div class="container-fluid features">
		<div class="container">
						<div class="row spacetwo">
							<div class="col col--4-of-12 col--push-1-of-12">
								<h3>MARKET RESEARCH
								</h3>
								<img class="img-responsive displayphone" src="img/features/f_5.png" alt="Product Shot"/>
								<p class="featurestxt">Keep track of competitors’ activities, from
									launching new devices and tariff plans to vital bundle offers, promotions,
									and add-ons with a full set of tracking, analytics, and research tools
								</p>
							</div>
								<div class="col col--5-of-12 col--push-1-of-12">
									<img class="img-responsive hidephone" src="img/features/f_5.png" alt="Product Shot"/>
								</div>
							</div>
							<div class="space"></div>
		</div>
		</div>

		<div class="container-fluid features2">
			<div class="container">
							<div class="row spacetwo">
								<div class="col col--6-of-12 col--push-1-of-12">
									<img class="img-responsive hidephone" src="img/features/f_6.png" alt="Product Shot"/>
								</div>
								<div class="col col--4-of-12">
									<h3>DASHBOARD
									</h3>
									<img class="img-responsive displayphone" src="img/features/f_6a.png" alt="Product Shot"/>
									<p class="featurestxt">At-a-glance view of your KPIs that delivers all daily market dynamics
									</p>
								</div>
								</div>
								<div class="space"></div>
			</div>
			</div>

			<div class="container-fluid features">
				<div class="container">
								<div class="row spacetwo">
									<div class="col col--4-of-12 col--push-1-of-12">
										<h3>EXPORT DATA IN A BEAUTIFUL WAY
										</h3>
										<img class="img-responsive displayphone" src="img/features/f_7a.png" alt="Product Shot"/>
										<p class="featurestxt">Interactive and custom charts for your reports and
											presentations sent to your e-mail and several file formats exports
										</p>
									</div>
										<div class="col col--5-of-12 col--push-1-of-12">
											<img class="img-responsive hidephone" src="img/features/f_7.png" alt="Product Shot"/>
										</div>
									</div>
									<div class="space"></div>
				</div>
				</div>

				<div class="container-fluid features2">
					<div class="container">
		<div class="row">
			<div class="col col--4-of-12 col--push-2-of-12">
				<h3>QUALITY DATA
				</h3>
				<p class="featurestxt">We ensure data quality by automated and manual data checks and tests
				</p>
				<h3>SPEED
				</h3>
				<p class="featurestxt">Our fast and reliable processes for collecting information are updated to your needs
				</p>
			</div>
			<div class="col col--4-of-12">
				<h3>RELIABILITY OF INFORMATION
				</h3>
				<p class="featurestxt">Data is consistent with more than 95% accuracy
				</p>
				<h3>CONTINUOUS IMPROVEMENT
				</h3>
				<p class="featurestxt">We provide exclusive customization that matches your
					company’s needs, including ongoing upgrades, improvements and premium customer support
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col col--12-of-12">
				    <a href="demo.html" class="demobtn centerbtn">REQUEST&nbsp;A&nbsp;DEMO</a>
			</div>
			</div>
		</div>
		<div class="space"></div>
</div>
</div>

</section>
