<section class="container-fluid features">
	<div class="container">
		<div class="row">
			<div class="col col--5-of-12">
				<h1 class="color_w">Empower Your Market Intelligence
						In The Telecom World.
				</h1>
				<p class="color_w">Pricelens is an efficient solution that enables you to monitor your
					competitive environment and improve the value of your offers to the market.
				</p>
			</div>
			<div class="col col--7-of-12">
				<img class="img-responsive main_image" src="img/main_image.png" alt="Product Shot"/>
			</div>
		</div>
		<div class="row">
			<div class="col col--12-of-12">
			</div>
		</div>
	</div>
</section>
