
<footer class="container-fluid footerbackground">
	<div class="container">
		<div class="col col--1-of-12 col col--centered border"></div>
			<!-- @include _navfooter -->
	<div class="row fnav">
		<div class="col col--12-of-12">
			<div class="footeritemstop">
				<div class="footeritems">
					<h5>Sales Information:</h5>
					<a href="mailto:sales@pricelens.com" target="_top" class="flinks">sales@pricelens.com</a>
					<a href="tel:+359899940717" class="flinks">+359 899 940 717</a>
				</div>
				<div class="footeritems">
					<h5>Customer Support:</h5>
					<a href="mailto:support@pricelens.com" target="_top" class="flinks">sales@pricelens.com</a>
					<a href="tel:+359888450821" class="flinks">+359 888 450 821</a>
				</div>
				<div class="footeritems">
					<h5>Social Networks:</h5>
						<a href="#" class="flinks">LinkedIn</a>
						<a href="#" class="flinks">Product Hunt</a>
				</div>
			</div>
	</div>
</div>
	<!-- <div class="space"></div> -->
	<div class="row">
		<div class="col col--12-of-12">
			<a href="index.html" class="logo_b centerlogo">Go Home</a>
		</div>
	</div>
		<div class="row">
			<div class="col col--12-of-12">
				<p class="copyright">
					Copyright© 2018 Pricelens - Market Intelligence Solution for Telecoms
				</p>
				<p class="cphone">
					Copyright© 2018 Pricelens<br>Market Intelligence Solution for Telecoms
				</p>
			</div>
		</div>
	</div>
</footer>


<script src="js/quotes.js"></script>

</body>
</html>
