<section class="container">
	<div class="row row--no-gutter">
		<div class="col col-8-of-12 col col--centered">

			<ul class="logos">
				<li><img src="img/logos/clients/mtel.png" class="img-responsive" style="max-height:123px;" alt="mtel"></li>
				<li><img src="img/logos/clients/vip.png" class="img-responsive" style="max-height:138px;" alt="vip"></li>
				<li><img src="img/logos/clients/vivacom.png" class="img-responsive" style="max-height:138px;" alt="vivacom"></li>
			</ul>
				</div>
	</div>
</section>
<div class="space"></div>
