<section class="container">
	<div class="row">
		<div class="col col--12-of-12">
			<div class="logos">
				<a class="branding" href="http://www.jpgroup.dk" target="_blank"><img src="img/jp.jpg" class="img-responsive center-block" alt="Боро Ауто"></a>
				<a class="branding" href="http://www.dp-groups.com" target="_blank"><img src="img/dpgroup.jpg" class="img-responsive center-block" alt="Боро Ауто"></a>
				<a class="branding" href="http://www.automega.biz/startseite.html" target="_blank"><img src="img/automega.jpg" class="img-responsive center-block" alt="Боро Ауто"></a>
			</div>

			<!-- <div class="logos_two_row1">
				<a class="branding" href="http://www.jpgroup.dk" target="_blank"><img src="img/jp.jpg" class="img-responsive center-block dln" alt="Боро Ауто"></a>
				<a class="branding" href="http://www.dp-groups.com" target="_blank"><img src="img/dpgroup.jpg" class="img-responsive center-block dln" alt="Боро Ауто"></a>
			</div>
			<div class="logos_two_row2">
				<a class="branding" href="http://www.automega.biz/startseite.html" target="_blank"><img src="img/automega.jpg" class="img-responsive center-block dln" alt="Боро Ауто"></a>
				<a class="branding" href="http://www.bsgautoparts.com" target="_blank"><img src="img/bsg.jpg" class="img-responsive center-block dln" alt="Боро Ауто"></a>
			</div> -->

		</div>
	</div>

</section>
