<section class="container-fluid gradient">
	<div class="container">
		<div class="row">
			<div class="col col--6-of-12 col col--centered">
				<h1>Empower Your Market Intelligence
						In The Telecom World.
				</h1>
			</div>
			<div class="col col--8-of-12 col col--centered">
				<p class="color_w center_txt">Pricelens is an efficient solution that enables you to monitor your
					competitive environment and improve the value of your offers to the market.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col col--12-of-12">
				<img class="img-responsive main_image" src="img/main_image.png" alt="Product Shot"/>
			</div>
		</div>
	</div>
</section>
