<section class="container space">
	<h2>Our Clients</h2>

	<div class="col col--8-of-12 col col--centered" style="max-width:900px">
	  <div class="mySlides">
			<div class="qtxt">
			<q>“Whether I need detailed information for my analysis or to produce a
				summary report for the C-level Team, I find the right data and information
				in Pricelens in just a few clicks.”
			</q>
			</div>
				<p class="center_txt author">
					<strong>Bistra Tasheva</strong><br>
						Market Research Manager, Products and Services Division at Mtel (A1 group)
				</p>
	  </div>

	  <div class="mySlides">
			<div class="qtxt">
			<q>“I use Pricelens every day, and I can count on up-to- date and reliable information about the
			devices market that is always at my fingertips. I want to praise the Pricelens team for the quick
			response to any need for customization and their professional attitude.”
			</q>
		</div>
				<p class="center_txt author">
					<strong>Yovan Nyagulov</strong><br>
					Senior Product Manager, Device &amp; Accessories Department at Mtel
					(A1 group)
				</p>
	  </div>
	</div>
	<div class="space"></div>

</section>
