<section class="container">
	<div class="row space">
		<div class="col col--8-of-12 col col--centered">
			<h2>Our Clients</h2>
			<div class="space">
			</div>
				<q>“Whether I need detailed information for my analysis or to produce a
					summary report for the C-level Team, I find the right data and information
					in Pricelens in just a few clicks.”
				</q>
					<p class="center_txt author">
						<strong>Bistra Tasheva</strong><br>
							Market Research Manager, Products and Services Division at Mtel (A1 group)
					</p>
		</div>
	</div>
	<div class="space">
	</div>
</section>
