<section class="container">
		<div class="row">
			<div class="col col--6-of-12 col col--centered">
				<h1 class="color_b">Pricelens In Action
				</h1>
			</div>
			<div class="col col--8-of-12 col col--centered">
				<p class="color_b center_txt">Our solution is used by Sales and Marketing,
					Mobile and Digital Services, Procurement, Devices and Competitive Analysis
					Departments to monitor daily market dynamics and automate data flow to stay competitive.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col col--9-of-12 col col--centered">
				<div class="col col--1-of-3">
					<div class="box">
						<p class="color_w value-txt">
							Devices
						</p>
						<p class="color_w value-txt value-txt-strong">
							AUTOMATE COMPETITOR TRACKING
						</p>
						<p class="color_w value-txt">
						Automated monitoring of changes in devices’ market, portfolios,
						prices, and history with accurate data refreshed daily.
						</p>
				</div>
				</div>
				<div class="col col--1-of-3">
					<div class="box">
						<p class="color_w value-txt">
							Marketing
						</p>
						<p class="color_w value-txt value-txt-strong">
							OUTPLAY THE COMPETITION
						</p>
						<p class="color_w value-txt">
							Keep an eye on your competitors by monitoring prices, features,
							launches, and bundle offers.
						</p>
					</div>
				</div>
				<div class="col col--1-of-3">
					<div class="box">
						<p class="color_w value-txt">
							Mobile & Digital Services
						</p>
						<p class="color_w value-txt value-txt-strong">
							COMPARE AT A GLANCE
						</p>
						<p class="color_w value-txt">
							Track latest changes and compare devices, tariff plans, add-ons or promotions.
						</p>
					</div>
				</div>
			</div>
			<div class="col col--6-of-12 col col--centered value_spc">
				<div class="col col--1-of-2">
					<div class="box">
						<p class="color_w value-txt">
							Procurement
						</p>
						<p class="color_w value-txt value-txt-strong">
							REDUCE COSTS
						</p>
						<p class="color_w value-txt">
							Negotiate better terms with Vendors on products and services
							procurement or get compensated whenever the market drops.
						</p>
					</div>
				</div>
				<div class="col col--1-of-2">
					<div class="box">
						<p class="color_w value-txt">
							Analysis and Reporting
						</p>
						<p class="color_w value-txt value-txt-strong">
							CREATE BETTER REPORTS FASTER
						</p>
						<p class="color_w value-txt">
							Just log into the system, grab the right information and spend
							the rest of the time analyzing it.
						</p>
					</div>
				</div>
			</div>
		</div>
</section>
