<section class="container valuespace">
		<div class="row">
			<div class="col col--6-of-12 col col--centered">
				<h2>Pricelens in Action</h2>
			</div>
			<div class="col col--8-of-12 col col--centered">
				<p class="color_b center_txt">Our solution is used by Sales and Marketing,
					Mobile and Digital Services, Procurement, Devices and Competitive Analysis
					Departments to monitor daily market dynamics and automate data flow to stay competitive
				</p>
			</div>
		</div>
		<div class="row">
				<div class="col col--4-of-12">
					<div class="box">
						<p class="color_w value-txt">
							Devices
						</p>
						<h4>
							AUTOMATE COMPETITOR TRACKING
						</h4>
						<p class="color_w value-txt">
						Automated monitoring of changes in devices’ market, portfolios,
						prices, and history with accurate data refreshed daily
						</p>
				</div>
				</div>
				<div class="col col--4-of-12">
					<div class="box">
						<p class="color_w value-txt">
							Marketing
						</p>
						<h4>
							OUTPLAY THE COMPETITION
						</h4>
						<p class="color_w value-txt">
							Keep an eye on your competitors by monitoring prices, features,
							launches, and bundle offers
						</p>
					</div>
				</div>
				<div class="col col--4-of-12">
					<div class="box">
						<p class="color_w value-txt">
							Mobile & Digital Services
						</p>
						<h4>
							COMPARE AT A GLANCE
						</h4>
						<p class="color_w value-txt">
							Track latest changes and compare devices, tariff plans, add-ons or promotions
						</p>
					</div>
				</div>
			</div>
		<div class="row">
				<div class="col col--4-of-12 col--push-2-of-12">
					<div class="box">
						<p class="color_w value-txt">
							Procurement
						</p>
						<h4>
							REDUCE COSTS
						</h4>
						<p class="color_w value-txt">
							Negotiate better terms with Vendors on products and services
							procurement or get compensated whenever the market drops
						</p>
					</div>
				</div>
				<div class="col col--4-of-12">
					<div class="box">
						<p class="color_w value-txt">
							Analysis and Reporting
						</p>
						<h4>
							CREATE BETTER REPORTS FASTER
						</h4>
						<p class="color_w value-txt">
							Just log into the system, grab the right information and spend
							the rest of the time analyzing it
						</p>
					</div>
				</div>
		</div>
</section>
